body {
	font-family: 'Inter', sans-serif !important;
}
.work-title h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 600 !important;
}
.work-title p {
	font-size: 1.2rem;
}
.work-imgs h3 {
	color: #edf2f5;
    font-weight: 300;
}
.work-layer{
    background-color: rgba(0, 0, 0, 0.329);
    cursor: pointer;
}
.work-imgs img {
	height: 300px;
    transition: all 0.7s;
}
.work-imgs:hover img{
    transform: scale(1.06);
}
.work-imgs{
    border-radius: 0.4rem;    
}

@media screen and (max-width: 720px) {
	.work-title p {
		font-size: 0.9rem;
	}
	.work-imgs img {
		height: 200px;
	}
}
